:root {
    --azul: #040724;
    --blanco: #fff;
    --fucsia: #f8b1db;
    --rosa: rgba(164, 105, 168, 1);
    --bg-btn: -webkit-linear-gradient(117deg, #4b55be 0%, #a469a8 100%);
    --border-radius: 10px;
    --border-color: 1px solid #808080ad;
}

header {
    height: 5.4rem;
    position: fixed;
    width: 100%;
    background-color: var(--azul) !important;
    top: 0;
    z-index: 21;
}

/* Div que contiene el menú de navegación del header */
.collapse {
    justify-content: flex-end;
}

.centrar {
    display: flex;
    justify-content: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

.centrar * {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.between {
    display: flex;
    justify-content: space-between;
}

.navbar-nav.nav {
    gap: 1.5rem;
}

.footer {
    background-color: var(--azul);
    font-size: .9em;
    height: 60px;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav>li>form>button.logout:focus {
    outline: none;
}


/*Esta es la animación para "Escuela de Danza CFC"*/
#escueladanza {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000) both;
    animation: tracking-in-expand .7s cubic-bezier(.215, .61, .355, 1.000);
    color: #361B46;
    text-shadow:
        -1px -1px 0 rgba(255, 226, 249, 0.7),
        1px -1px 0 rgba(255, 226, 249, 0.7),
        -1px 1px 0 rgba(255, 226, 249, 0.7),
        1px 1px 0 rgba(255, 226, 249, 0.7);

}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-24 22:13:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }

    40% {
        opacity: .6
    }

    100% {
        opacity: 1
    }
}

/*
main .container{
    padding: 0;
    max-width: unset;
}*/

.carouselExampleSlidesOnly {
    z-index: -1;
}





/* GLBOALES */
h1,
h2,
h3,
h4,
h5,
h6 {
    width: fit-content !important;
}

body {
    font-family: "Inter Tight", sans-serif !important;
    background: url(../imagenes/bg.jpg);
    background-size: contain !important;
    background-position: initial !important;
    color: var(--blanco) !important;
    padding-top: 5.4rem !important;
}

.btn {
    background: var(--bg-btn);
    cursor: pointer !important;
}

.btn-primary {
    border-color: none !important;
    border: unset !important;
    cursor: pointer;
}


.table {
    color: var(--blanco) !important;
}


header nav .navbar-nav.nav .nav-item a {
    font-weight: 600 !important;
    color: var(--blanco) !important;
}

header nav .navbar-nav.nav .nav-item a:hover {
    opacity: .7;
}

header nav .navbar-nav.nav .nav-item .nav-link.active {
    color: var(--fucsia) !important;
}

main .container {
    max-width: unset;
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Expletus Sans", sans-serif;
    color: var(--blanco) !important;
}

.overlay {
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

/* ESTILOS HOME */
main .container {
    /*height: 100vh !important;*/
}

.container,
.row-carousel,
#carouselExampleSlidesOnly,
.carousel-inner {
    height: 100%;
}

/* LOGO */
.navbar-brand img {
    width: 4rem !important;
}


.row-carousel {
    height: 88vh !important;
    position: relative !important;
}


/* CARDS - HOME */
.card {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    background-color: unset !important;
    border: unset !important;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-instrumentos {
    width: 235px !important;
}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(135deg, rgba(75, 85, 190, 0.88) 0, rgba(164, 105, 168, 0.88) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease-in-out .5s;
}

.card:hover .overlay {
    opacity: 1;
}

.card .overlay .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    padding: 10px 25px;

}

.card .overlay h3,
.card .overlay p {
    margin: 0;
}

.fa-arrow-right-long {
    color: black;
    font-size: 19px;
    background: white;
    padding: 12px;
    border-radius: 50%;
    transition: transform 0.5s ease;

}

.card:hover .fa-arrow-right-long {
    transform: rotate(-23deg);

}


.hover-footer {
    position: absolute;
    bottom: 2rem;
    text-align: center;
}

.hover-footer h3 {
    font-size: 20px;
}

.hover-footer p {
    font-size: 14px;
}

/* Los Forms*/
form#w0, form#w1, form#w2, form#w3, form#w4, form#w5, form#w6, form#w7, form#w8, form#w9 {
    display: block;
    margin-left: 30vw;
    margin-right: 30vw;
}

.alumnos-form2  {
    display: block;
    margin-left: 30vw;
    margin-right: 30vw;
}


#w0 {
    display: flex;
}

#escueladanza {
    height: 100%;
    width: 100%;
    top: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 8rem;
}

#escueladanza .tracking-in-expand {
    display: flex;
    flex-direction: column;
    letter-spacing: .2rem;
    font-size: 3rem;
    text-align: left;
}

#escueladanza .tracking-in-expand .escuela-danza {
    font-size: 1.5rem;
}

.sub-title-home {
    font-size: 1rem;
}

.vc_sep_line {
    border-top: 1px solid #d3739d;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}


.titulo-home:after {
    content: '';
    display: block;
    height: .5rem;
    background: -webkit-linear-gradient(117deg, #4b55be 0%, #a469a8 100%);
}

header nav .container {
    max-width: unset !important;
}

.row-2 {
    max-width: 1250px;
    margin: 0 auto !important;
}

.row-2 .list-view {
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.list-social {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: unset !important;
}

.list-social .social {
    font-size: 1.5rem;
}


/* PASOS VIEW - VISTA */

.imagen_paso {
    border: unset !important;
    background-color: var(--rosa);
    width: 59.3vw;
    border-radius: var(--border-radius);

}

.pasos-view {
    max-width: 1250px;
    margin: 0 auto;
}


.row.jumbotron-fluid {
    width: 59.3vw;
    margin: 0 auto;
}

.pasos-view .card {
    height: auto !important;
}

.pasos-view .card .imagen_instrumento {
    width: 80%;
}

.video-pasos {
    max-height: 510px;
    min-width: 340px;
    object-fit: cover;
}

.pasos-view .parr-ver {
    width: 80%;
}

.btn-pasos {
    display: flex;
    gap: 1rem !important;
}

.btn-fila {
    padding-top: 1rem;
}

.fa-arrow-right-to-bracket {
    rotate: 180deg !important;
}


.btn-pasos .btn {
    display: flex;
    align-items: center;
    gap: .5rem !important;
}



/* QUIZZ */
.quiz {
    width: fit-content;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-quiz {
    max-width: 450px !important;
    text-align: center !important;
}

.slide.pregunta {
    display: none;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 2rem;
}

.botones-quiz {
    gap: 2rem;
    margin: 2rem 0;
    width: 40vw;
    justify-content: space-between;
}

.img-quiz {
    width: 40vw;
}

.slide.resultado {
    display: none;
    width: fit-content;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slide.resultado #resultado {
    max-width: 450px !important;
    text-align: center;
}


/* LOGIN */
/* VISTA LOGIN */
.row-login {
    width: 100%;
    justify-content: center;
}

.site-login {
    background: url(../images/login.jpeg);
    background-size: cover;
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.site-contact {
    display: flex;
    flex-direction: column;
    /* margin-left: 30vw;
    margin-right: 30vw; */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* justify-content: center; */
}

.site-location, .Whatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-contact h1 {
    text-align: center;
}

#login-form {
    min-width: 500px;
}

#login-form .form-group {
    display: flex;
    flex-direction: column;
}

#login-form .form-group.row {
    padding: 0 !important;
    width: 100%;
    margin: 0 auto;
}

.invalid-feedback {
    padding: 0 !important;
}

#login-form .custom-control {
    padding-left: 0 !important;
    margin-left: 0 !important;
}


/* PASOS INDEX */

.pasos-index {
    max-width: 1250px;
    margin: 0 auto;
}

.pasos-index .list-view {
    gap: 1rem;
    justify-content: center;
}

.card-tarjeta-pasos {
    height: auto;
    width: 235px;
}

.card-tarjeta-pasos > .card-body:hover {
    background-color: -webkit-linear-gradient(135deg, rgba(75, 85, 190, 0.88) 0, rgba(164, 105, 168, 0.88) 100%) !important;
}



.card-prueba {
    gap: 1rem;
}



.card-prueba div .tarjetas-pasos {
    border: var(--border-color);
    border-radius: var(--border-radius);
}

.pasos-index #p0,
.pasos-index #p1,
.pasos-index #p2,
.pasos-index #p3,
.pasos-index #p4,
.pasos-index #p5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1250px;
}


/* QUIENES SOMOS */
.quienes-somos {
    max-width: 1250px !important;
    margin: 0 auto;
}

/* Style for each news item */
.news-item {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.3s, box-shadow 0.3s;
    display: block;
    margin-left: 30vw;
    margin-right: 30vw;
}

.news-item:hover {
    background-color: rgba(164, 105, 168, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.news-item h2 {
    margin-top: 0;
    color: var(--fucsia);
}

.news-item p {
    margin: 0.5rem 0;
}

.news-item p strong {
    color: var(--blanco);
}

div.grid-view {
    display: block;
    margin-left: 20vw;
    margin-right: 20vw;
}

div.grid-view#w0 {
    display: block;
}

/* Ensure the table takes the full width of its container */
.custom-detail-view table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

/* Style table headers and cells */
.custom-detail-view th,
.custom-detail-view td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Remove empty cells */
.custom-detail-view td:empty {
    display: none;
}

.alumnos-view, .aprenden-view, .ensenan-view,
.maestros-view, .niveles-view, .telefonos-view,
.utilizan-view, .instrumentos-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quienes-somos p {
    text-align: justify;
}

.alumnos-view table#w0 {
    margin-bottom: 2vh;
}